@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

.header{
    margin: 0rem;
    position: fixed;
    background-color: white;
    right: 0;
    border-left:1px solid black;
    padding: 0rem 1rem ;

    height: 100vh;
    font-size: 1rem;
   
}

.header li{
    list-style: none;
    padding: 1rem 0rem;
    display: flex;
    flex-direction: row;
}

.header li img{
    width: 1rem;
    height: 1rem;
    gap: 0.25rem;
}

a {
    text-decoration: none;
    color: black;
}


/* illust WORKS/info */

.homebutton { 
    padding-left:  1rem; 
    padding-top: 0.25rem;
    margin: 0;
     
}

.homebutton h3 {  
    font-family: 'inter', sans-serif ;
    font-weight: 100;
    font-size: 1rem;
    
}

.categoryName h1{
    font-family: 'inter', sans-serif ;
    font-weight: 500;
    font-size: 3rem;
    line-height:4rem;
    padding: 3rem 1rem;
}

/* END of illust WORKS/info */


/* RED */

.red {
    display:flex;
    flex-direction: row;
    padding: 0rem 0rem 20rem 0rem; 
}

.red img{
    padding: 0rem 1rem;
    width: 60% ;
}

.red_text{
    display:flex;
    flex-direction: column;
    width: 25%;
    align-items: flex-end;
    padding: 0rem 9rem 0rem 5rem;
}

/* END OF RED */



/* brown */

.brown {
    display:flex;
    flex-direction: row;
    padding: 0rem 0rem 20rem 0rem; 
}

.brown img{
    padding: 0rem 1rem;
    width: 60% ;
}
.brown_text{
    display:flex;
    flex-direction: column;
    width: 25%;
    align-items: flex-end;
    padding: 0rem 9rem 0rem 5rem;
}

/* END OF brown */


/* beige */

.beige {
    display:flex;
    flex-direction: row;
    padding: 0rem 0rem 20rem 0rem; 
}

.beige img{
    padding: 0rem 1rem;
    width: 60% ;
}

.beige_text{
    display:flex;
    flex-direction: column;
    width: 25%;
    align-items: flex-end;
    padding: 0rem 9rem 0rem 5rem;
}

/* END OF beige */

.red_m{
    display: none;
}

.brown_m{
    display: none;
}

.beige_m{
    display: none;
}


@media only screen and (max-width: 1023px) {

    .red{
        display: none;
    }

    .brown{
        display: none;
    }

    .beige{
        display: none;
    }

    
    .Inline {
        display: block;
  
    }

    .red_m{
        display: block;
        padding: 0rem 0rem 0rem 0rem; 
        margin: 0rem 0rem 0rem 0rem; 
    }
    
    .red_m img{
       display: flex;
       width: 80%;
       padding: 0rem 0rem 0rem 1rem; 
    }

    .red_m_text{
        display:flex;
        flex-direction: column;
        width: 80%;
        align-items: flex-start;
        padding: 1rem 0rem 10rem 1.25rem;
    }

    .brown_m{
        display: block;
        padding: 0rem 0rem 0rem 0rem; 
        margin: 0rem 0rem 0rem 0rem; 
    }
    
    .brown_m img{
       display: flex;
       width: 80%;
       padding: 0rem 0rem 0rem 1rem; 
    }

    .brown_m_text{
        display:flex;
        flex-direction: column;
        width: 80%;
        align-items: flex-start;
        padding: 1rem 0rem 10rem 1.25rem;
    }

    .beige_m{
        display: block;
        padding: 0rem 0rem 0rem 0rem; 
        margin: 0rem 0rem 0rem 0rem; 
    }
    
    .beige_m img{
       display: flex;
       width: 80%;
       padding: 0rem 0rem 0rem 1rem; 
    }

    .beige_m_text{
        display:flex;
        flex-direction: column;
        width: 80%;
        align-items: flex-start;
        padding: 1rem 0rem 10rem 1.25rem;
    }
}


@media only screen and (max-width: 639px) {

    .red{
        display: none;
    }

    .brown{
        display: none;
    }

    .beige{
        display: none;
    }

    
    .Inline {
        display: block;
  
    }

    .red_m{
        display: block;
        padding: 0rem 0rem 0rem 0rem; 
        margin: 0rem 0rem 0rem 0rem; 
    }
    
    .red_m img{
       display: flex;
       width: 80%;
       padding: 0rem 0rem 0rem 1rem; 
    }

    .red_m_text{
        display:flex;
        flex-direction: column;
        width: 80%;
        align-items: flex-start;
        padding: 1rem 0rem 10rem 1.25rem;
    }

    .brown_m{
        display: block;
        padding: 0rem 0rem 0rem 0rem; 
        margin: 0rem 0rem 0rem 0rem; 
    }
    
    .brown_m img{
       display: flex;
       width: 80%;
       padding: 0rem 0rem 0rem 1rem; 
    }

    .brown_m_text{
        display:flex;
        flex-direction: column;
        width: 80%;
        align-items: flex-start;
        padding: 1rem 0rem 10rem 1.25rem;
    }

    .beige_m{
        display: block;
        padding: 0rem 0rem 0rem 0rem; 
        margin: 0rem 0rem 0rem 0rem; 
    }
    
    .beige_m img{
       display: flex;
       width: 80%;
       padding: 0rem 0rem 0rem 1rem; 
    }

    .beige_m_text{
        display:flex;
        flex-direction: column;
        width: 80%;
        align-items: flex-start;
        padding: 1rem 0rem 10rem 1.25rem;
    }


  
    

}

